/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  padding: var(--indent-s);
  color: var(--main-color);
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background: url('../images/cover-image-dark.png') center / cover no-repeat;
  background-color: var(--alternate-color);
  background-attachment: fixed;
}

@media (width >= 768px) {
  .page {
    padding: var(--indent-m);
  }
}

.title-decor {
  color: var(--alternate-color);
  background-color: var(--accent-color);
}

.scientific-article {
  text-shadow: 2px 2px var(--accent-color);
}

.scientific-article:hover {
  box-shadow: 0 1px 0 currentColor;
}

.scientific-article:focus {
  outline: none;
}

.scientific-article:focus-visible {
  outline: 1px solid currentColor;
}

/* -------------------------------------- */

.header {
  position: relative;
  display: grid;
}

.header::before {
  content: '';
  position: absolute;
  border-bottom: var(--outline);
  border-left: var(--outline);
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 25px;
  aspect-ratio: 1;
}

.header::after {
  content: '';
  position: absolute;
  border-top: var(--outline);
  border-right: var(--outline);
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  aspect-ratio: 1;
}

.header__decorative-element-rec {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: var(--indent-s);
  color: var(--accent-color);
  line-height: 1.39;
  inset-block-start: 0;
  inset-inline-end: 9px;
}

.header__decorative-element-rec::after {
  content: '';
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block: 65px;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block: 172px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-block-end: 273px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--indent-s);
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  padding: 2px 13px;
  color: var(--button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 currentColor;
}

.header__theme-menu-button_active {
  outline: var(--outline);
  pointer-events: none;
}

.header__title {
  color: var(--header-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--text-shadow);
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__subtitle {
  justify-self: end;
  margin-block: 55px;
  font-weight: 700;
  max-inline-size: 364px;
}

@media (width >= 768px) {
  .header__subtitle {
    margin-block: 162px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    margin-block: 114px;
    max-inline-size: 50%;
  }
}

/* -------------------------------------- */

.main {
  display: grid;
  gap: var(--indent-l);
  margin-block: var(--indent-l);
}

@media (width >= 768px) {
  .main {
    gap: var(--indent-xl);
    margin-block: var(--indent-xl);
  }
}

/* -------------------------------------- */

.concentration {
  display: grid;
  gap: var(--indent-m);
}

.concentration__body {
  display: flex;
  flex-direction: column;
  gap: var(--indent-m);
}

.concentration__body-title {
  font-weight: 700;
}

.concentration__title {
  color: var(--concentration-title);
}

@media (width >= 768px) {
  .concentration {
    grid-template-columns: 1fr 2fr;
  }

  .concentration-reduce {
    grid-template-rows: repeat(2, auto);
  }

  .concentration-reduce__body {
    display: grid;
    grid-column: -1 / 1;
    grid-row-start: 2;
    gap: var(--indent-m);
  }
}

@media (width >= 1024px) {
  .concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration__body {
    grid-column: span 2;
  }

  .concentration-reduce__body {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------------------------------- */

.advice {
  display: flex;
  flex-direction: column;
  row-gap: var(--indent-s);
}

.advice__title_no-bold {
  font-weight: 400;
}

/* -------------------------------------- */

.concentration-image {
  display: grid;
  gap: var(--indent-s);
}

@media (width >= 768px) {
  .concentration-image {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title title title'
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
    gap: var(--indent-m);
  }

  .concentration-image__title {
    grid-area: title;
  }

  .concentration-image__sunset {
    grid-area: sunset;
  }

  .concentration-image__ice-cream {
    grid-area: ice-cream;
    object-fit: cover;
    block-size: 100%;
  }

  .concentration-image__tape {
    grid-area: tape;
    object-fit: cover;
    block-size: 100%;
  }

  .concentration-image__books {
    grid-area: books;
  }

  .concentration-image__street {
    grid-area: street;
  }
}

/* -------------------------------------- */

.footer {
  position: relative;
  padding-block: 275px;
  text-align: center;
}

.footer::before {
  content: '';
  position: absolute;
  border-bottom: var(--outline);
  border-left: var(--outline);
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 25px;
  aspect-ratio: 1;
}

.footer::after {
  content: '';
  position: absolute;
  border-top: var(--outline);
  border-right: var(--outline);
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  aspect-ratio: 1;
}

.footer__title {
  color: var(--accent-color-alt);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .footer {
    padding-block: 442px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .footer {
    padding-block: 300px;
  }
}
